
@{
    ViewBag.Title = "Index";
}
<br/>
<div align="center">
    <form action="~/Auth/Login" method="post" >
        <input name="korisnickoIme" class="form-control" placeholder="Username" required />
        <br />
        <input type="password" name="lozinka" class="form-control" placeholder="Password" required/>
        <br/>
        <input type="submit" value="Login" class="btn btn-dark" />
    </form>
</div>

