@using Classes;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
        <div class="container-fluid">
            <ul class="navbar-nav">
                @if (Session["user"] != null)
                {
                    var k = (Korisnik)Session["user"];
                    switch (k.Tip)
                    {
                        case Tip.Lekar:
                            <li class="nav-item"><a href="~/Lekar/Index" class="nav-link">Pocetna</a></li>
                            <li class="nav-item"><a href="~/Lekar/PrethodniPregledi" class="nav-link">Prethodni pregledi</a></li>
                            break;
                        case Tip.Pacijent:
                            <li class="nav-item"><a href="~/Pacijent/Index" class="nav-link">Pocetna</a></li>
                            break;
                        case Tip.Administrator:
                            <li class="nav-item"><a href="~/Admin/Index" class="nav-link">Pocetna</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Registracija
                                </a>
                                <ul class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="~/Admin/Registracija?tip=0">Registruj administratora</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="~/Admin/Registracija?tip=1">Registruj pacijenta</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="~/Admin/Registracija?tip=2">Registruj lekara</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="~/Admin/RegistracijaBolnice">Registruj bolnicu</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a href="~/Admin/DodelaLekara" class="nav-link">Dodela lekara</a></li>
                            break;
                        default:
                            break;
                    }
                    <li class="nav-item"><a href="~/Auth/Logout" class="nav-link">Logout</a></li>
                }
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>